.App {
   padding: 40px 50px;
   background-color: whitesmoke;
   width: 550px;
   border-radius: 6px;
   box-sizing: border-box;
}

.App-buttons {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   margin-top: 30px;
}

.App-social {
   display: flex;
   flex-flow: row nowrap;
   color: whitesmoke;
}

.App-footer {
   position: absolute;
   bottom: 2%;
}

.App-footer a {
   text-decoration: none;
   color: whitesmoke;
}

.App-footer div {
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

.App-footer img {
   width: 30px;
   margin: 0 10px;
}

.App-footer span {
   font-weight: 700;
}
