.App {
   padding: 40px 50px;
   background-color: whitesmoke;
   width: 550px;
   border-radius: 6px;
   box-sizing: border-box;
}

.App-footer {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   margin-top: 30px;
}

.App-social {
   display: flex;
   flex-flow: row nowrap;
   color: whitesmoke;
}
