body {
   margin: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: antiquewhite;
   background-color: saddlebrown;
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   min-width: 100vw;
}
